@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Ysabeau Infant', sans-serif;
    margin: 0;
    padding: 0;

}

.dark {
    background-color: #1a1818;
    color: #ffffff;
  }
  
.dark h2 {
    color: #ffffff;
  }
  
.dark p {
    color: #ffffff;
  }
