.homeContainer {
     display: flex;
     gap: 4rem;
     padding: 10rem;
     text-align: center;
}

.cardContainer {
     width: 100%;
}

.cardTitle {
     color: #474a51;
     font-size: 2rem;
     padding: 1rem;
}

.cardText {
     color: #474a51;
     font-size: 1.2rem;

}

@media(max-width: 765px) {
     .homeContainer {
       display: flex;
       flex-direction: column;
       text-align: center;
     }
     .cardTitle {
          display: flex;
          text-align: center;
          justify-content: center;
     }

}