.repoContainer {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    padding: 2rem;
    width: 80%;
}

.cardRepo {
    align-items: center;
    background-color: #dc79ee;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transition: background-color 0.3s ease-in-out;
}

.cardRepo:hover {
    background-color: #ca72f3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.textTitle {
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
    padding: 2%;
    text-align: center;
}

@media(max-width: 765px) {
    .repoContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .cardRepo {
      width: 150px;
    }
  
  }