@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

.menuContainer {
    align-items: center;
    background-color: #d994f9;
    display: flex;
    gap: 10rem;
    justify-content: center;
    list-style: none;
    padding: 2rem;
}

.menuLink {
    color: #040404;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
}

.menuIconContainer {
    align-items: center;
    display: flex;
    gap: 50%;
}

@media(max-width: 765px) {
    .menuContainer {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }